.card {
  background-color: #1e8bc3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16%;
  margin: 5px;
}

.card img {
  width: 100%;
  margin-bottom: 10px;
}

.card span {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 80%;
  text-align: center;
}